<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
          <a class="sidebar-nav-item">Bash </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Bash">&nbsp;&nbsp;&nbsp;&nbsp;Basics</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/bash2">&nbsp;&nbsp;&nbsp;&nbsp;Awk</a>

          <a class="sidebar-nav-item">Nextflow </a>
          <a class="sidebar-nav-item">SLURM </a>
          <a class="sidebar-nav-item">Introduction </a>
          <a class="sidebar-nav-item">RNA-Seq </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/RNA-Seq/Overview">&nbsp;&nbsp;&nbsp;&nbsp;Overview</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/RNA-Seq">&nbsp;&nbsp;&nbsp;&nbsp;Containerization</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/RNA-Seq">&nbsp;&nbsp;&nbsp;&nbsp;Nextflow</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/RNA-Seq">&nbsp;&nbsp;&nbsp;&nbsp;R Analysis</a>
          <a class="sidebar-nav-item">scRNA-Seq </a>
          <a class="sidebar-nav-item">Variant-Calling </a>
          <a class="sidebar-nav-item">ATAC-Seq </a>

  </nav>

  <div class="sidebar-item">
  </div>
</div>
