<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
          <a class="sidebar-nav-item">Week 1 </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_1/Introduction">&nbsp;&nbsp;&nbsp;&nbsp;Introduction</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_1/Conda">&nbsp;&nbsp;&nbsp;&nbsp;Anaconda</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_1/Docker">&nbsp;&nbsp;&nbsp;&nbsp;Docker</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_1/Singularity">&nbsp;&nbsp;&nbsp;&nbsp;Singularity</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_1/Nextflow">&nbsp;&nbsp;&nbsp;&nbsp;Nextflow</a>

          <a class="sidebar-nav-item">Week 2 </a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_2/Introduction">&nbsp;&nbsp;&nbsp;&nbsp;Introduction</a>
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://barrydigby.github.io/Week_2/Container">&nbsp;&nbsp;&nbsp;&nbsp;Container</a>

  </nav>

  <div class="sidebar-item">
  </div>
</div>
